html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    background-color: white;
    min-height: 100vh;
    color: hsl(0, 0%, 20%) 0;
} 

#banner{
    width: 100%;
}

#category{
    width: 50%;
    margin: 0 auto;
}

#nav_bar{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 10px;
    white-space: nowrap;
    margin: 0 auto;
    box-shadow: 0 4px 10px hsl(0, 0%, 65%);
}

.nav_link{
    font-size: 2.5vw;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0px;
    color: hsl(0, 0%, 20%);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.nav_button{
    padding: 0vw 0.5186721991701245vw;
}

.name{
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-size:  5vw;
    color: hsl(0, 0%, 20%) 0;
    padding-left: 10vw;
}

.software_img{
    width: 37vw;
    padding: 0.78125vw;
    margin: 0 auto;box-shadow: 0 4px 5px hsl(0, 0%, 65%);
    border-radius: 10px;
}

.details{
    font-size: 2.5vw;
    color: hsl(0, 0%, 20%) 0;
    max-width: 80vw;
    padding-bottom: 100px;
    margin: 0 auto;
}

#slack{
    padding-top: 10vw;
}

#footer{
    background-color: hsl(205, 62%, 56%);
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
    height: 35px;
    
}

#foot_text{
    text-decoration: none;
    color: white;
    text-align: center;
}

#TeamTool{
    padding-top: 5px;
}

@media only screen and (min-width: 1000px) {

    #banner{
        width: 100%;
    }
    
    #category{
        width: 75%;
        margin: 0 auto;
    }
    
    #nav_bar{
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 20px 15px;
        background-color: hsl(0, 0%, 90%);
        border-radius: 50px;
        white-space: nowrap;
        margin: 0 auto;
        box-shadow: 0 4px 10px hsl(0, 0%, 65%);
    }
    
    .nav_link{
        font-size: 1vw;
        font-family: 'Prompt', Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 1.9900497512437811vw 0.4975124378109453vw;
        color: hsl(0, 0%, 20%);
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
    }
    
    .nav_button{
        padding: 1.9900497512437811vw 0.4975124378109453vw;
        font-family: 'Prompt', Arial, Helvetica, sans-serif;
        transition: all 0.3s ease-in-out;
    }
    
    .nav_link:hover{
        background-color: hsl(0, 0%, 85%);
        box-shadow: 0 0 15px 5px white;
    }

    /*Software*/

    .name{
        font-family: 'Prompt', Arial, Helvetica, sans-serif;
        font-size:  3vw;
        color: hsl(0, 0%, 20%) 0;
        padding-left: 24vw;
    }

    .software_img{
        width: 23.958333333333332vw;
        padding: 0.78125vw;
    }

    .details{
        font-size: 1.0416666666666667vw;
        color: hsl(0, 0%, 20%) 0;
        max-width: 52.083333333333336vw;
        padding-bottom: 5.208333333333333vw;
        margin: 0 auto;
    }

    #slack{
        font-family: 'Prompt', Arial, Helvetica, sans-serif;
        color: hsl(0, 0%, 20%) 0;
    }

    #slack_details{
        color: hsl(0, 0%, 20%) 0;
    }

    #microsoft_teams_details{
        top: 1860px;
    }

    #zoom_details{
        top: 2960px;
    }

    #google_meet_details{
        top: 3960px;
    }

    #discord_details{
        top: 4960px;
    }

    /*Footer*/

    #footer{
        background-color: hsl(205, 62%, 56%);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: hsl(0, 0%, 20%);
        height: 4.166666666666667vw;
        
    }
    
    #foot_logo{
        max-width: 90%;
        padding-left: 5.208333333333333vw;
    }
    
    #TeamTool{
        font-family: 'Prompt', Arial, Helvetica, sans-serif;
        font-size: 2vw;
        text-align: center;
        padding-top:  0.625vw;
        color: white;
        transition: all 0.3s ease-in-out;
    }
    
    #TeamTool:hover{
        transform: scale(1.04);
    }
    
    #foot_text{
        text-decoration: none;
    }
}
